//COLORS

$bgColor1: #565656;
$bgColor2: rgba(7, 190, 184, 1);
$darkColor: #1a1a1a;
// $accentColor: rgb(208, 252, 252);
$accentColor: #c4fff9;
$shadowColor: rgba(196, 255, 249, 0.212);
$activeColor: rgba(104, 216, 214, 1);
 //heloo

/* RGB */

$color2: rgba(61, 204, 199, 1);

$color4: rgba(156, 234, 239, 1);


// FONTS
$headerFont: 'Montserrat', sans-serif;

$bodyFont: 'Roboto', sans-serif;
;
//BREAKPOINTS
$mobile:"max-width:550px";
$tablet:"max-width:880px";
$laptop:"max-width:1350px";